/* Google Open Sans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #f8f8f8;
    padding: 0%;
}

div#wrapper {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 2px 2px;
    background-color: white;
    font-family: "Open Sans";
}

div #content {
    margin-left: 2%;
    margin-right: 2%;
}

/* Banner CSS */
div#banner {
    padding-bottom: 2%;
    border: 1px solid #d0d0d0;
}

#banner h1 {
    text-align: center;
    font-family: "Courier New";
}

#banner table {
    margin: auto;
    text-align: center;
}

#banner a {
    text-decoration: none;
}

#banner a:link {
    color: black;
}

#banner a:visited {
    color: black;
}

#banner a:hover {
    color: #555555;
}